extends ./layout/index

block contenido
    main.container.mt-5
        h1.text-center.mt-5 #{pagina}

        blockquote.text-center Lee sobre nustros clientes y sus experiencias
        include ./layout/bloque_testimoniales

        .row

            .col-md-12
                h2.d-block.w-100.text-center Agrega tu testimonio

                if(errores)
                    each error in errores
                        .alert.col.alert-danger.text-center= error.mensaje
                


            .row.justify-content-center.col
                .col-md-8
                    form(action="/testimoniales" method="POST")
                        .form-group
                            label(for="nombre") Nombre
                            input#nombre(type="text", placeholder="Ingresa tu nombre", name="nombre", value=nombre, class="form-control")
                        .form-group
                            label(for="correo") Correo electrónico
                            input#correo(type="text", placeholder="Ingresa tu correo electrónico", name="correo", value=correo , class="form-control")
                        .form-group
                            label(for="mensaje") Mensaje
                            textarea#mensaje(placeholder="Ingresa tu mensaje", name="mensaje", class="form-control", rows=3)= mensaje

                        input.btn.btn-success.btn-block(type="submit")